<section
  class="bg-[rgb(0,0,0,.8)] h-full py-20 overflow-auto w-screen fixed top-0 flex items-center left-0 z-[1]"
  x-show="showCreateProductModal"
  x-cloak
>
  <form
    enctype="multipart/form-data"
    @submit="createProduct"
    class="bg-white w-1/3 dark:bg-neutral-900 overflow-auto max-md:w-3/4 flex flex-col gap-5 max-sm:w-11/12 mx-auto my-auto p-10 max-md:p-5 rounded-xl create-product"
  >
    {%csrf_token%}
    <ion-icon
      @click="showCreateProductModal=!showCreateProductModal"
      name="close-outline"
      class="text-2xl cursor-pointer self-end"
    ></ion-icon>
    <h1 class="text-2xl max-md:text-xl font-semibold text-dark">
      Create Product
    </h1>
    <span
      class="relative p-3 flex items-center justify-between rounded-md border border-dark"
    >
      <input
        type="text"
        value=""
        name="product_name"
        class="outline-none bg-transparent"
        placeholder="Enter Name"
        required
      />
      <span class="text-gray-800">Name</span>
    </span>

    <span
      class="relative p-3 flex items-center justify-between rounded-md border border-dark"
    >
      <input
        type="text"
        value=""
        name="location"
        class="outline-none bg-transparent"
        placeholder="Enter Location"
        required
      />
      <span class="text-gray-800">Location</span>
    </span>

    <span
      class="relative p-3 h-20 flex items-center gap-5 justify-between rounded-md border border-dark"
    >
      <!-- <input
        type="text"
        value=""
        name="location"
        class="outline-none bg-transparent"
        placeholder="Enter Location"
        required
      /> -->
      <textarea
        name="description"
        id=""
        class="w-full outline-none h-full"
        placeholder="Enter Description"
      ></textarea>
      <span class="text-gray-800 self-start">Description</span>
    </span>

    <span
      class="relative flex items-center justify-between p-3 rounded-md border border-dark"
    >
      <input
        type="number"
        value=""
        name="price"
        class="outline-none bg-transparent"
        inputmode="numeric"
        placeholder="Enter Price"
        required
      />
      <span class="text-gray-800">Price</span>
    </span>

    <span
      class="relative flex items-center justify-between p-3 rounded-md border border-dark"
    >
      <select
        name="product_type"
        id=""
        class="outline-none bg-neutral-100 p-1 text-sm rounded-md"
        required
      >
        <option value="ticket">Ticket</option>
        <option value="ebook">Ebook</option>
        <option value="physical">Physical Product</option>
        <option value="digital course">Digital Course</option>
      </select>
      <span class="text-gray-800">Product Type</span>
    </span>

    <span
      class="relative flex items-center justify-between p-3 rounded-md border border-dark"
    >
      <input
        type="file"
        name="image"
        accept=".png,.jpg,.jpeg"
        value=""
        class="outline-none bg-transparent text-sm file:border-none file:p-3 file:rounded-md"
        placeholder="Product Image"
        id="#imge"
        required
        multiple
      />
      <span class="text-gray-800">Image</span>
    </span>

    <button class="p-5 rounded-xl bg-dark text-white">Done</button>
  </form>
</section>
