<section
  class="bg-[rgb(0,0,0,.8)] h-screen w-screen fixed top-0 flex items-center left-0 z-[1]"
  x-show="showEditProductModal"
  x-cloak
>
  <form
    class="bg-white w-1/3 dark:bg-neutral-900 max-md:w-3/4 flex flex-col gap-5 max-sm:w-11/12 mx-auto my-auto p-10 max-md:p-5 rounded-xl"
  >
    <ion-icon
      @click="showEditProductModal=!showEditProductModal"
      name="close-outline"
      class="text-xl cursor-pointer self-end"
    ></ion-icon>
    <h1 class="text-xl max-md:text-xl font-semibold text-dark">Edit Product</h1>
    <span
      class="relative p-3 flex items-center justify-between rounded-md border border-dark"
    >
      <input
        type="text"
        value="Product Name"
        class="outline-none bg-transparent"
      />
      <span class="text-gray-400">Name</span>
    </span>

    <span
      class="relative p-3 flex items-center justify-between rounded-md border border-dark"
    >
      <input
        type="checkbox"
        value="$20,000"
        class="outline-none bg-transparent"
      />
      <span class="text-gray-400">Out of Stock?</span>
    </span>

    <span
      class="relative flex items-center justify-between p-3 rounded-md border border-dark"
    >
      <input type="text" value="$20,000" class="outline-none bg-transparent" />
      <span class="text-gray-400">Price</span>
    </span>

    <button class="p-5 rounded-xl bg-dark text-white">Done</button>
  </form>
</section>
