<section class="mt-10">
  <h1 class="text-xl font-semibold mb-5 dark:text-gray-200">My Products</h1>
  <!-- product lists container -->
  <div class="flex flex-col gap-5">
    <!-- product list item -->
    <div
      class="p-5 flex gap-5 text-sm border-[1px] dark:font-light dark:bg-neutral-900 dark:text-gray-200 dark:border-neutral-700 rounded-md bg-neutral-50 border-neutral-300 max-md:overflow-x-auto"
    >
      <p>Product Thumbnail</p>
      <p>Product Name</p>
      <p>Product Price</p>
      <p>Product Category</p>
      <p>Verified State</p>
      <p>Product Link</p>
      <p>Product Views</p>
    </div>

    <!-- product list item -->
    <div
      class="p-5 flex gap-5 text-sm border-[1px] dark:font-light dark:bg-neutral-900 dark:text-gray-200 dark:border-neutral-700 rounded-md bg-neutral-50 border-neutral-300 max-md:overflow-x-auto"
    >
      <p>Product Thumbnail</p>
      <p>Product Name</p>
      <p>Product Price</p>
      <p>Product Category</p>
      <p>Verified State</p>
      <p>Product Link</p>
      <p>Product Views</p>
    </div>
  </div>
</section>
