<section
  x-data="{ colors: ['Red', 'Orange', 'Yellow'] }"
  class="w-3/5 max-md:w-full h-86 overflow-auto p-5 border border-neutral-300 rounded-xl"
>
  <!-- payout card -->
  <h1 class="pb-5 text-lg max-md:text-xl font-medium">Payout History</h1>
  <p>No payout history</p>
  <!-- <template x-for="num in colors">
    <div class="bg-green-100 relative mb-5 p-5 rounded-md flex justify-between">
      <p>$300</p>
      <p class="flex flex-col">
        <span class="font-semibold">Zelle</span> <span>zellelink@zell.lnk</span>
      </p>
      <p>Pending</p>
      <p class="absolute right-5 bottom-5 text-xs">30-Jan</p>
    </div>
  </template> -->
</section>
