{%extends 'base.html'%} {%block content%}

<section class="bg-dark text-neutral-900 text-sm" x-data="home">
  {{crypto|json_script:'crypto'}}
  <!--  -->
  {%include 'components/nav.html'%}
  <!-- header section -->
  <section
    class="pt-48 max-md:pt-48 text-neutral-200 gap-20 mx-auto p-10 max-md:p-5 w-11/12 max-md:w-11/12 max-md:gap-10 flex flex-col max-md:flex-col items-center justify-center"
  >
    <div class="w-1/2 max-md:w-full text-center flex flex-col items-center">
      <h1 class="text-5xl max-md:text-4xl pb-5 font-semibold animate-herotext">
        Trade with pro experts earn faster
      </h1>
      <p class="text-sm text-neutral-400 animate-heroparagraph">
        Grow your finance capital in a secured and trust worthy platform
      </p>

      <a
        href="{%url 'sign-up'%}"
        class="bg-main text-white px-5 py-3 rounded-full mt-10 w-fit block"
        >Join us now <i class="ri-arrow-right-up-line"></i
      ></a>
    </div>
    <!-- image section card -->
    <div class="w-1/2 max-md:w-full">
      <div class="flex justify-end items-end rounded-md">
        <img src="/static/images/headingasset.webp" alt="" class="scale-95" />
      </div>
    </div>
  </section>
  <!-- header section ends -->

  <!-- rating and intro section -->
  <section class="bg-white max-md:px-5 relative">
    <!-- <h1 class="text-3xl font-semibold text-center">
      Our growing numbers tells our story
    </h1> -->
    <!-- rating container -->
    <div
      class="w-4/5 bg-white text-dark p-10 rounded-xl max-md:w-11/12 mx-auto flex max-sm:grid max-sm:gap-8 gap-10 max-md:grid-cols-2 justify-between backdrop-filter bg-opacity-35 backdrop-blur-xl top-0 max-sm:divide-x-0 *:max-sm:p-0 -translate-y-20"
    >
      <div
        class="flex flex-col gap-3 max-md:p-0 max-md:items-center max-md:text-center"
      >
        <span class="text-3xl max-sm:text-xl ma font-bold">227K</span>
        <span>Registered Active Users</span>
      </div>
      <div
        class="flex flex-col gap-3 pl-5 max-md:p-0 max-md:items-center max-md:text-center"
      >
        <span class="text-3xl max-sm:text-xl ma font-bold">197+</span>
        <span>Countries supported worldwide</span>
      </div>
      <div
        class="flex flex-col gap-3 pl-5 max-md:p-0 max-md:items-center max-md:text-center"
      >
        <span class="text-3xl max-sm:text-xl ma font-bold">10+</span>
        <span>Trading Currencies</span>
      </div>
      <div
        class="flex flex-col gap-3 pl-5 max-md:p-0 max-md:items-center max-md:text-center"
      >
        <span class="text-3xl max-sm:text-xl ma font-bold">99.99%</span>
        <span>Trading Profit Payout</span>
      </div>
    </div>
    <!-- rating ends -->
    <!-- intro container -->

    <!-- intro container ends -->
  </section>
  <!-- intro and rating ends -->

  <!-- convincing talk modal section -->
  <section
    class="bg-white py-20 max-md:py-10 px-20 max-md:px-5 max-md:flex-col items-center flex justify-center"
  >
    <!-- header text,text and cta -->
    <div class="max-md:w-full">
      <h1 class="text-3xl font-semibold mb-10">
        Make your crypto trading easy
      </h1>
      <p class="w-2/3 max-md:w-full">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae expedita
        in soluta dolorum error magnam id ut pariatur amet. Molestias!
      </p>
      <a
        href="{%url 'sign-up'%}"
        class="bg-main text-white px-5 py-3 rounded-full mt-10 w-fit block"
        >Explore Now <i class="ri-arrow-right-up-line"></i
      ></a>
    </div>
    <img
      src="https://cdn.statically.io/img/iqbrokers.co/wp-content/uploads/2022/07/phones-1.png?quality=70&f=auto"
      alt=""
      class="scale-110 max-md:scale-90"
    />
  </section>
  <!-- 2nd convincing item -->
  <section
    class="bg-white py-20 max-md:gap-0 max-md:py-10 px-20 max-md:px-5 max-md:flex-col flex justify-center items-center"
  >
    <!-- header text,text and cta -->
    <div class="max-md:w-full">
      <h1 class="text-3xl font-semibold mb-10">
        Increase your profits confidently
      </h1>
      <p class="w-2/3 max-md:w-full">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae expedita
        in soluta dolorum error magnam id ut pariatur amet. Molestias!
      </p>
      <a
        href="{%url 'sign-up'%}"
        class="bg-main text-white px-5 py-3 rounded-full mt-10 w-fit block"
        >Explore Now <i class="ri-arrow-right-up-line"></i
      ></a>
    </div>

    <img
      src="https://static.cdnroute.io/files/storage/public/5d/af/0c38e02243c9e1c6j0/480@2x.webp"
      alt=""
      class="w-1/2 max-md:w-4/5 max-md:scale-100"
    />
  </section>
  <!-- convincing talk modal section ends -->

  <!-- buy crypto container -->
  <section class="bg-white">
    <div class="px-10 mx-auto pb-20 max-md:px-5 xl:w-3/5">
      <h1 class="text-center text-3xl font-semibold">
        Build your trading portfolio
      </h1>
      <div class="grid lg:grid-cols-4 xl:grid-cols-5 grid-cols-2 gap-5 mt-10">
        <template x-for="coin in crypto">
          <div
            class="flex items-center gap-4 border p-3 border-neutral-200 bg-white rounded-full"
          >
            <img
              :src="coin.image"
              class="h-10 w-10 rounded-full object-cover"
              alt=""
            />
            <span x-text="coin.name"></span>
          </div>
        </template>
      </div>
      <a
        href="{%url 'sign-up'%}"
        class="bg-dark text-white px-5 py-3 rounded-full mt-5 w-fit block mx-auto"
        >Start Trading Crypto<i class="ri-arrow-right-up-line"></i
      ></a>
    </div>
  </section>

  <!-- markets end -->

  <!-- supported plaforms start -->
  <div class="p-20 max-md:px-5 mx-auto bg-white">
    <h1 class="text-2xl pb-5 max-md:text-xl text-center font-semibold">
      Supported Wallets
    </h1>
    <div class="grid grid-cols-4 max-md:grid-cols-3 gap-5">
      <template x-for="wallet in wallets">
        <div
          class="p-2 rounded-xl cursor-pointer flex flex-col-reverse gap-2 justify-center border border-neutral-100"
        >
          <span x-text="wallet.name" class="text-xs"></span>
          <img
            :src="wallet.logo"
            alt=""
            class="h-8 w-8 object-contain rounded-full max-md:w-6 max-md:h-6"
          />
        </div>
      </template>
    </div>
  </div>
  <!-- supported plaforms end -->

  <!-- copy trader explained -->
  <div
    class="py-10 px-10 max-md:px-5 flex flex-col-reverse max-sm:flex-col-reverse relative items-center max-md:gap-10 gap-20 justify-center bg-[#030327]"
  >
    <!-- blob stick div -->

    <video
      class=""
      poster="/static/images/Toro-Investors.png"
      src="/static/videos/Toro-Investors.mp4"
    ></video>
    <div
      class="max-md:text-center flex flex-col gap-1 items-center text-white text-sm text-center"
    >
      <h1 class="text-3xl font-semibold mt-3 mb-5">
        Copy Trading, A Trading Superpower
      </h1>
      <span class="font-light text-neutral-400 w-1/2 max-md:w-full">
        With Rog Trades innovative CopyTrader™, you can automatically copy the
        moves of other investors. Find investors you believe in and replicate
        their actions in real time.
      </span>
      <a
        href="{%url 'sign-up'%}"
        class="border bg-white text-dark text-sm px-5 py-3 rounded-full max-md:mx-auto max-md:hidden mt-5 w-fit block"
        >Start Expert Trading<i class="ri-arrow-right-up-line"></i
      ></a>
    </div>
  </div>

  <!-- copy trader explain ends -->

  <!-- reasons start -->
  <div class="pt-10 bg-white">
    <h1 class="text-3xl font-semibold text-center">Why Trade With Us</h1>
    <div
      class="bg-white max-md:w-full p-20 pt-10 max-md:p-5 grid grid-cols-3 max-md:grid-cols-1 justify-around text-base gap-10 max-md:flex-col"
    >
      <div class="flex flex-col gap-5 border border-neutral-200 p-5 rounded-xl">
        <i class="ri-vip-diamond-line text-5xl text-neutral-800"></i>
        <p class="font-semibold">Watch your profits grow automatically</p>
        <span class="text-sm"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, ad!
          Minima recusandae quas iste atque accusantium beatae expedita
          reiciendis praesentium!</span
        >
      </div>
      <div class="flex flex-col gap-5 border border-neutral-200 p-5 rounded-xl">
        <i class="ri-time-line text-neutral-800 text-5xl"></i>
        <p class="font-semibold">Available 24/7 support</p>
        <span class="text-sm"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, ad!
          Minima recusandae quas iste atque accusantium beatae expedita
          reiciendis praesentium!</span
        >
      </div>
      <div class="flex flex-col gap-5 border border-neutral-200 p-5 rounded-xl">
        <i class="ri-lock-star-line text-5xl text-neutral-800"></i>
        <p class="font-semibold">Secured asset trust</p>
        <span class="text-sm"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, ad!
          Minima recusandae quas iste atque accusantium beatae expedita
          reiciendis praesentium!</span
        >
      </div>
      <div class="flex flex-col gap-5 border border-neutral-200 p-5 rounded-xl">
        <i class="ri-lock-star-line text-5xl text-neutral-800"></i>
        <p class="font-semibold">Secured asset trust</p>
        <span class="text-sm"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, ad!
          Minima recusandae quas iste atque accusantium beatae expedita
          reiciendis praesentium!</span
        >
      </div>
      <div class="flex flex-col gap-5 border border-neutral-200 p-5 rounded-xl">
        <i class="ri-lock-star-line text-5xl text-neutral-800"></i>
        <p class="font-semibold">Secured asset trust</p>
        <span class="text-sm"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, ad!
          Minima recusandae quas iste atque accusantium beatae expedita
          reiciendis praesentium!</span
        >
      </div>
      <div class="flex flex-col gap-5 border border-neutral-200 p-5 rounded-xl">
        <i class="ri-lock-star-line text-5xl text-neutral-800"></i>
        <p class="font-semibold">Secured asset trust</p>
        <span class="text-sm"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, ad!
          Minima recusandae quas iste atque accusantium beatae expedita
          reiciendis praesentium!</span
        >
      </div>
    </div>
  </div>
  <!-- reasons end -->

  <!-- portfolio trader explained -->
  <div
    class="py-10 px-10 max-md:px-5 bg-gray-100 flex max-sm:flex-col-reverse relative items-center max-md:gap-10 gap-20 justify-center"
  >
    <!-- blob stick div -->

    <video
      class="w-1/2 max-sm:w-full mix-blend-multiply"
      poster="/static/images/Toro-Portfolios.png"
      src="/static/videos/Toro-Portfolios.mp4"
    ></video>
    <div class="max-md:text-center flex flex-col gap-1 text-white text-sm">
      <h1 class="text-3xl font-semibold text-dark mt-3 mb-5">
        Boost your crypto portfolio
      </h1>
      <span class="font-light text-neutral-400 max-md:w-full">
        Invest in the future you believe in with thematic investment strategies,
        offering diversified exposure to the market segments that will shape our
        lives.
      </span>
      <a
        href="{%url 'sign-up'%}"
        class="border bg-white text-dark text-sm px-5 py-3 rounded-full max-md:mx-auto max-md:hidden mt-5 w-fit block"
        >Start Trading<i class="ri-arrow-right-up-line"></i
      ></a>
    </div>
  </div>

  <!-- copy trader explain ends -->

  <!-- accessibility starts -->
  <div
    class="bg-gray-100 p-20 max-md:p-5 relative flex min-h-screen justify-center flex-col gap-10"
  >
    <div
      class="text-gray-900 z-50 flex flex-col justify-center font-light items-center text-sm"
    >
      <h1
        class="text-5xl font-bold max-md:text-4xl text-center pb-6 pt-5 text-neutral-800"
      >
        Available in over 197 countries
      </h1>
      <p class="text-center max-md:w-3/4">
        Access your secured trading account from anywhere in the world
      </p>
      <a
        href="{%url 'sign-up'%}"
        class="bg-dark text-white px-5 py-3 rounded-full mt-10 w-fit block mx-auto"
        >Join us now <i class="ri-arrow-right-up-line"></i
      ></a>
    </div>
    <div class="top-0 grid grid-cols-4 gap-10 w-fit mx-auto">
      <template x-for="flag in flags">
        <img
          :src="`https://flagcdn.com/${flag}.svg`"
          class="w-20 h-20 rounded-2xl object-cover"
          alt=""
        />
      </template>
    </div>
  </div>
  <!-- accessibility ends -->

  {%include 'components/footer.html'%}

  <script>
    document.addEventListener("alpine:init", () => {
      const crypto = JSON.parse(document.getElementById("crypto").textContent);
      Alpine.data("home", () => ({
        crypto: crypto.slice(0, 15),
        flags: ["eu", "es", "my", "ae", "us", "cn", "jp", "ma"],
        wallets: [
          {
            name: "Trust Wallet",
            logo: "/static/images/trust.webp",
          },
          {
            name: "MetaMask",
            logo: "/static/images/metamask.webp",
          },
          {
            name: "OKX Wallet",
            logo: "/static/images/okx.webp",
          },
          {
            name: "Bitget Wallet",
            logo: "/static/images/okx.webp",
          },
          {
            name: "SafePal",
            logo: "/static/images/safepal.webp",
          },
          {
            name: "Changelly",
            logo: "/static/images/changelly.svg",
          },
          {
            name: "Coinbase Wallet",
            logo: "/static/images/coinbase.webp",
          },
          {
            name: "Rainbow Wallet",
            logo: "/static/images/rainbow.webp",
          },
          {
            name: "Safe Wallet",
            logo: "/static/images/safe.webp",
          },
        ],
      }));
    });
  </script>
</section>

{%endblock%}
