{% extends "base.html" %}
{%load static%}
{% block content %}

<main class='h-screen py-10 bg-white flex  justify-center text-base'>

    </div>

    {% include "components/alerts.html" %}
    <section class='w-full relative'>


        <form action="" method="post"
            class='w-2/5 text-sm  [&_input]:placeholder:text-xs  max-sm:w-11/12 flex flex-col gap-4   max-md:mt-0 p-10 max-md:p-5 mx-auto  bg-transparent shadow-sm   rounded-md z-50 text-dark'
            autocomplete="off">
            <a href="/" class="self-center flex flex-col  text-dark items-center mb-6">
                {%include 'components/logo.html'%}
                Swift Exchange
                <!-- <p class="text-sm text-black font-semibold text-center">Rog Trades</p> -->
            </a>

            {% csrf_token %}
            <div class="border border-neutral-200 p-1 rounded-md flex gap-2 text-center font-semibold">
                <a href="{%url 'sign-up'%}"  class="bg-neutral-100 text-neutral-600 w-1/2 p-3 rounded-md">Create Account </a>
                <a href="" class="bg-main w-1/2 p-3 rounded-md">Login</a>
               
              </div>
        
            <fieldset class='flex gap-5 flex-col'>
                <label for="email">Email</label>
                <input type="email" name="email"
                    class='p-3 rounded-md border border-nuetral-900 active:border-[1px] bg-transparent '
                    placeholder="john.doe@outlook.com">
            </fieldset>
            <fieldset class='flex gap-5 flex-col'>
                <label for="">Password</label>
                <span class="relative bg-transparent border  rounded-md">
                    <input type="password" name="password" class='p-3 rounded-md w-full bg-transparent password '
                        placeholder=" enter your password">
                    <span
                        class="password-toggle absolute right-5 top-1/2 -translate-y-1/2 p-1 text-xs text-black rounded-md cursor-pointer bg-main ">Show</span>
                </span>
            </fieldset>
            <a href="{%url 'forgot-password'%}" class='text-end text-neutral-400 text-xs cursor-pointer'>Forgot Your
                Password?</a>
            <button class='bg-main text-dark p-4 rounded-full mt-5  w-1/2 max-md:w-full self-center'>Login</button>

        </form>
    </section>

    <script>
        let passwordEl = document.querySelector('.password')
        let toggle = document.querySelector('.password-toggle')

        toggle.addEventListener('click', () => {
            if (passwordEl.getAttribute('type') == 'password') {
                passwordEl.setAttribute('type', 'text')
                toggle.textContent = 'Hide'
            }
            else {
                passwordEl.setAttribute('type', 'password')
                toggle.textContent = 'Show'
            }
        })
    </script>
</main>
{%endblock%}