{% extends "base.html" %} {% block content %}

<!--  -->
{%include "components/alerts.html" %}
<!--  -->

<section class="pb-20 max-md:mt-16 flex min-h-screen justify-center items-center">
  <div class="w-2/5 max-md:w-4/5 mt-24 max-sm:mt-10 flex flex-col ">
    <a href="/" class=" flex flex-col  text-dark  mb-10 text-xs">
      {%include 'components/logo.html'%}
      Swift Exchange
    </a>
    <h1 class="text-3xl text-dark pb-5 font-medium">Change Your Password</h1>
    <p class="text-sm text-ne "></p>
    <p></p>
    <form action="" method="post" class="text-sm max-md:text-sm mt-5 w-full lg:w-4/5 flex flex-col login">
      {% csrf_token %}
      <div class="flex flex-col gap-2">
        <span class="flex items-center relative w-full has-[:focus]:mt-10 has-[:valid]:mt-10">
          <input type="text" name="password" id="email"
            class="border-[1px] p-4 w-full border-neutral-400 valid:text-main peer outline-none focus:border-main bg-transparent rounded-lg"
            required />
          <span
            class="left-2 peer-valid:text-main peer-focus:text-main absolute peer-focus:left-0 peer-focus:-translate-y-12 peer-valid:-translate-y-12 flex items-center gap-2 transition duration-150 ease-in peer-valid:left-0">
            <ion-icon name="mail-outline" class="text-xl"></ion-icon>
            Password
          </span>
        </span>
      </div>
      <div class="flex flex-col gap-2 mt-5">
        <span class="flex items-center relative w-full has-[:focus]:mt-10 has-[:valid]:mt-10">
          <input type="text" name="confirm" id="email"
            class="border-[1px] p-4 w-full border-neutral-400 valid:text-main peer outline-none focus:border-main bg-transparent rounded-lg"
            required />
          <span
            class="left-2 peer-valid:text-main peer-focus:text-main absolute peer-focus:left-0 peer-focus:-translate-y-12 peer-valid:-translate-y-12 flex items-center gap-2 transition duration-150 ease-in peer-valid:left-0">
            <ion-icon name="mail-outline" class="text-xl"></ion-icon>
            Confirm Password
          </span>
        </span>
      </div>

      <button class="p-5 bg-main my-10 text-dark font-[300] rounded-full">
        Update Password
      </button>
    </form>
  </div>
</section>

{% endblock content %}