<!-- Personal Details -->

<div class="flex flex-col gap-3" x-transition x-transition.duration.200ms>
  <!-- progress bar full -->
  <!-- <div class="flex flex-col text-base text-gray-200">
    step checker
    <div
      class="radial-progress mb-2 text-gray-200 text-sm"
      style="--value: 70; --size: 3rem; --thickness: 2px"
      role="progressbar"
    >
      80%
    </div>
    Secure Your Account
  </div> -->
  <!-- Fieldsets Start -->
  <fieldset class="flex flex-col gap-2">
    <label for="first_name">Password *</label>
    <span class="relative">
      <input
        type="password"
        name="password"
        placeholder="Enter Password "
        class="p-3 rounded-md w-full bg-transparent border border-white"
        required
      />
      <span
        @click="togglePassword($el)"
        class="p-2 rounded-md bg-main toggleBtn absolute top-1/2 -translate-y-1/2 text-dark cursor-pointer text-xs right-3"
        >Show</span
      >
    </span>
    <span class="text-orange-500 text-xs"
      >*passwords must be greater than 6 characters</span
    >
  </fieldset>
  <!-- <fieldset class="flex flex-col gap-2">
    <label for="last_name">Confirm Password *</label>
    <span class="relative">
      <input
        type="password"
        name="cpassword"
        placeholder="Enter Password"
        class="p-3 rounded-md w-full bg-transparent border border-white"
        required
      />
      <span
        @click="togglePassword($el)"
        class="p-2 rounded-md bg-neutral-900 toggleBtn absolute top-1/2 -translate-y-1/2 text-gray-200 cursor-pointer text-xs right-3"
        >Show</span
      >
    </span>
  </fieldset> -->

  <div class="flex gap-4 mt-5 text-dark">
    <button
      class="bg-main p-4 w-full flex items-center gap-2 cursor-pointer justify-center rounded-full"
    >
      Register <ion-icon name="chevron-forward-outline"></ion-icon>
    </button>
  </div>
</div>
