{%extends 'bases/dashboardbase.html'%} {%load static%} {%block content%}
<section class="px-10 mt-10 mb-20 max-md:px-5 text-sm" x-data="courses">
  {{courses|json_script:'courses'}}
  <h1 class="text-xl font-semibold pb-5">Expert Courses</h1>

  <!-- courses -->
  <div
    class="grid grid-cols-3 max-md:grid-cols-2 max-sm:grid-cols-1 max-md:gap-3 gap-10"
  >
    <!-- product list item -->
    <template x-for="course in courses">
      <div class="flex flex-col">
        <img
          :src="course.flyer"
          alt=""
          class="w-full object-cover rounded-xl"
        />
        <div
          class="bg-white rounded-xl flex flex-col gap-2 -translate-y-5 py-5 px-2"
        >
        <div class="flex justify-between  flex-col items-start text-base font-semibold">
             <p x-text="course.title" class=""></p>
        <p  class="text-neutral-500 font-normal">
            <i class="ri-price-tag-3-line text-neutral-500"></i>
            <span x-text="'$'+course.price"></span>
        </p>
        </div>
          <span x-text="course.description" class="text-xs"></span>
          <!-- author details -->
          <div class="flex justify-between items-center">
            <span class="flex items-center gap-2 mt-2">
              <span
                class="p-3 flex items-center justify-center bg-yellow-200 rounded-full"
              >
                <ion-icon name="person-outline"></ion-icon>
              </span>
              <span x-text="course.author"></span>
            </span>
            <!-- get course -->
             <a :href="course.file" target="_blank" class="bg-dark w-fit text-white text-xs flex gap-2 p-3 rounded-full">Full Course <i class="ri-arrow-right-up-line"></i></a>
          </div>
        </div>
      </div>
    </template>
  </div>

  <script>
    document.addEventListener("alpine:init", () => {
      Alpine.data("courses", () => ({
        init() {
          this.courses = JSON.parse(
            document.getElementById("courses").textContent
          );
          console.log(this.courses);
        },
        courses: [],

      }));
    });
  </script>
</section>

{%endblock content%}
