{%extends 'bases/dashboardbase.html'%} {%load static%} {%block content%}
<section class="px-10 mt-10 mb-20 max-md:px-5 text-sm" x-data="promotions">
  {{promotions|json_script:'promotions'}}
  <div class="flex justify-between items-center mb-5">
    <h1 class="text-xl font-semibold">My Promotions</h1>
    <span
      class="px-6 py-3 cursor-pointer rounded-xl bg-neutral-100 flex items-center gap-2"
      >Sort By<ion-icon name="chevron-down-outline"></ion-icon
    ></span>
  </div>

  <!-- product lists container -->
  <div class="grid grid-cols-3 max-md:grid-cols-1 max-md:gap-3 gap-10">
    <!-- product list item -->
    <template x-for="promotion in promotions">
      <div class="flex flex-col gap-5 border p-5 rounded-xl justify-between">
        <div class="flex justify-between">
          <span x-text="promotion.name">Product Name</span>
          <span class="text-neutral-500 flex items-center gap-2"
            ><i class="ri-user-line"></i>
            <span x-text="promotion.vendor" class="text-xs"></span>
          </span>
        </div>
        <div class="flex items-center justify-between">
          <div class="grid grid-cols-3 gap-5 max-md:gap-2 items-center">
            <img
              :src="`${location.origin}${promotion.image}`"
              alt="product_image"
              class="h-10 w-10 rounded-lg bg-neutral-400 object-cover"
            />

            <p
              class="text-sm max-md:text-sm font-semibold text-main"
              x-text="'$' + promotion.price"
            >
              $20.00
            </p>
          </div>
          <span
            class="text-xs px-3 py-1 rounded-lg"
            :class="(promotion.status=='ongoing')?'bg-red-100:'bg-emerald-100'"
            x-text="promotion.status"
            >Ongoing
          </span>
        </div>

        <!-- interactions and share -->
        <div
          class="flex gap-5 w-fit text-xs max-md:text-xs rounded-md text-neutral-500"
        >
          <button
            class="text-white p-2 gap-2 flex items-center justify-center rounded-full bg-main"
            @click="copy($el,promotion.promotion_link)"
          >
            <i class="ri-share-line text-white"></i>
            <span>Share</span>
          </button>
          <butto
            class="rounded-full dark:border-gray-700 flex items-center justify-center gap-2"
          >
            <i class="ri-eye-2-line"></i>
            <span x-text="promotion.views"></span>
          </butto>
          <button class="flex items-center justify-center gap-2 rounded-full">
            <ion-icon name="card" class="text-sm"></ion-icon>
            $0.4
          </button>
        </div>
      </div>
    </template>
  </div>
  <script>
    document.addEventListener("alpine:init", () => {
      Alpine.data("promotions", () => ({
        init() {
          this.promotions = JSON.parse(
            document.getElementById("promotions").textContent
          );
          console.log(this.promotions);
        },
        promotions: [],
        async copy(el, promotion_id) {
          await navigator.clipboard.writeText(promotion_id);
          el.children[1].textContent = "Copied";
          setTimeout(() => {
            el.children[1].textContent = "Share";
          }, 2000);
        },
      }));
    });
  </script>
</section>

{%endblock content%}
