{%extends 'bases/dashboardbase.html'%} {%load static%} {%block content%}
<section
  class="p-10 px-10 max-md:px-5 dark:bg-dark dark:text-gray-300 text-sm"
  x-data="products"
>
  <h1 class="text-xl max-md:text-xl font-semibold pb-10">My Products</h1>
  <button
    @click="showCreateProductModal=true"
    class="p-3 bg-dark rounded-full text-sm flex gap-2 justify-center items-center text-white mb-5"
  >
    <ion-icon name="add-circle-outline" class="text-xl"></ion-icon>Add Product
  </button>
  <!-- product list card -->
  <!-- {%include 'pages/dashboard/no-products.html'%} -->
  {%include 'components/dashboard/add-product-modal.html'%}
  {%include 'components/dashboard/edit-product-modal.html'%} 
  <div
    class="grid grid-cols-4 max-md:gap-5 max-md:grid-cols-2 gap-10 max-sm:grid-cols-1"
  >
    <template x-for="product in user_products">
      <div
        class="flex flex-col items-center gap-2 p-5 border border-neutral-300 rounded-xl relative dark:border dark:border-gray-600 dark:p-5 dark:rounded-md"
      >
        <img
          :src="product.image"
          alt="product_image"
          class="h-28 w-2/3 rounded-xl bg-black object-cover"
        />
        <span class="text-neutral-400"
          ><i class="ri-equalizer-2-line"></i>
          <span x-text="product.type"></span>
        </span>
        <!-- <p class="border inline absolute right-5 bottom-5 text-xs w-fit border-gray-200 p-2 rounded-md">Ticketing</p>  -->
        <div class="flex gap-5 font-semibold">
          <p class="text-sm" x-text="product.name">Product Name</p>
          <p
            class="text-sm text-main dark:text-lime-400"
            x-text="`$${product.price}`"
          >
            $20.00
          </p>
        </div>
        <div class="flex justify-end gap-5 text-xs">
          <!-- <button
            @click="showEditProductModal=!showEditProductModal"
            class="border border-neutral-600 p-1 px-2 rounded-full dark:border-gray-700"
          >
            Edit Product
          </button> -->
          <a
            :href="`${location.origin}/products/product-link/${product.id}`"
            target="_blank"
            class="bg-accent text-dark p-1 px-2 rounded-full dark:border-neutral-900"
          >
            <ion-icon name="share-outline"></ion-icon>
            Share Link
          </a>
        </div>
      </div>
    </template>
  </div>

  <script>
    document.addEventListener("alpine:init", async () => {
      // let response = await fetch("/dashboard/profile");
      // console.log(await response.json());
      await Alpine.data("products", () => ({
        async init() {
          let res = await fetch("/products/create-product/");
          this.user_products = await res.json();
        },
        user_products: [],
      }));
    });
  </script>
</section>
{%endblock content%}
