{%extends 'bases/dashboardbase.html'%} {%load static%} {%block content%}
<section class="p-10 px-10 max-md:px-5 dark:bg-dark dark:text-gray-300 text-xs">
  {%include 'components/dashboard/edit-wallet-modal.html'%}

  <h1 class="text-2xl text-center max-md:text-xl font-semibold pb-5">
    My Wallet
  </h1>
  <!-- product list card -->
  {%include 'components/dashboard/edit-wallet-modal.html'%}

  <!-- {%include 'pages/dashboard/no-products.html'%} -->
  {%include 'components/dashboard/request-payout-modal.html'%}
  <!-- wallet and history container -->
  <div class="flex flex-col items-center gap-10 max-md:flex-col">
    <div
      class="max-md:gap-5 h-full border border-neutral-300 w-3/5 p-5 flex flex-col gap-5 rounded-xl max-md:w-2/3 max-sm:w-full"
    >
      <div class="flex justify-between">
        <p class="text-lg max-md:text-xl font-medium">Wallet Details</p>
        <p
          class="text-lg font-semibold text-main"
          x-text="'$'+ user.affiliate_balance"
        ></p>
      </div>
      <div class="p-5 w-full rounded-md flex flex-col bg-neutral-100">
        <p class="font-semibold">No payout method</p>
        <p class="max-md:w-3/4 inline">No payout wallet</p>
      </div>
      <div class="flex justify-end gap-5">
        <button
          @click="showEditWalletModal=!showEditWalletModal"
          class="border border-dark p-3 rounded-md dark:border-gray-700"
        >
          Update Wallet
        </button>
        <button
          @click="showRequestPaymentModal=true ; console.log(showRequestPaymentModal)"
          class="bg-dark text-white p-3 rounded-md border dark:bg-neutral-900 dark:border-neutral-900"
        >
          Request Payout
        </button>
      </div>
    </div>
    {%include 'components/dashboard/payout-history.html'%}
  </div>
</section>
{%endblock content%}
