@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

html{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: black;

}

iframe{
    border: none !important;
}
*{
    margin: 0;
    padding: 0;
}

input{
    outline: none;
}

input:focus{
    outline: solid 1px #94d8ff;
    border: none;
    border-color: transparent;
}

#google-translate{
    position: fixed;
}

.blue-text{
    display: none;
}

.tv-embed-widget-wrapper__body{
    border: none;
}

html.theme-dark .tv-embed-widget-wrapper__body{
    background: black;
}

[x-cloak] { display: none !important; }

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* From Uiverse.io by satyamchaudharydev */ 
.loader {
    display: block;
    --height-of-loader: 4px;
    --loader-color: #0071e2;
    width: 130px;
    height: var(--height-of-loader);
    border-radius: 30px;
    background-color: rgba(0,0,0,0.2);
    position: relative;
  }
  
  .loader::before {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
    ;
  }
  
  @keyframes moving {
    50% {
      width: 100%;
    }
  
    100% {
      width: 0;
      right: 0;
      left: unset;
    }
  }