{%load static%}

<section
  class="max-md:w-full px-20 max-md:px-5 flex justify-center gap-10 items-center max-md:text-center max-md:flex-col relative my-32 mx-auto"
>
  <div class="flex flex-col">
    <p class="text-main text-sm text-neutral-500">Partner with us</p>
    <h1 class="text-4xl py-4  max-md:text-2xl max-md:w-full font-medium">
      Earn By Joining Our Affiliate Network
    </h1>
    <p class="w-4/5 max-sm:w-full">
      Join our robust affiliate network to amplify your sales. Access diverse products, track performance, and earn commissions effortlessly. Start maximizing your earnings today!
    </p>
    <a
      href="{%url 'affiliate'%}"
      class="p-5 w-1/3 max-sm:w-full text-center mt-5 bg-black text-white rounded-full self-start"
      >Learn More</a
    >
  </div>

  <img
    src="https://images.pexels.com/photos/3194524/pexels-photo-3194524.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    class="h-80 w-full max-md:w-full object-cover rounded-xl"
    alt="affiliate-programe-image"
  />
</section>
