{%load static%}
<section
  class="h-full my-10 px-10 max-md:px-5 max-md:h-full flex flex-col items-center text-center"
>
  <!-- <span class="text-main">How to sign up</span> -->
  <h1 class="text-4xl font-medium max-md:text-2xl w-1/2 max-md:w-full">
    Setting up your account is really easy
  </h1>
  <p class="w-1/3 max-md:w-full my-5">
    Follow our swift and easy onboarding process to start selling your products
  </p>

  <!-- step mover container main -->
  <!-- test carousel -->
  <!-- <div class="embla bg-red-100">
    <div class="embla__container">
      <div class="embla__slide">Slide 1</div>
      <div class="embla__slide">Slide 2</div>
      <div class="embla__slide">Slide 3</div>
    </div>
  </div> -->

  <div class="embla w-full">
    <div class="embla__container gap-5 *:border *:border-neutral-400">
      <div
        class="embla__slide max-md:flex-[0_0_90%] relative max-md:w-full text-start rounded-lg text-black flex justify-center flex-col gap-5 p-10"
      >
        <!-- Step heading -->
        <h1 class="text-lg text-black font-semibold">Create your account</h1>
        <p>
          Register and verify your account,our platform is a highly security
          conscious,your data is fully protected from third parties.
        </p>
        <!-- <a
          href=""
          class="p-5 absolute bottom-8 left-8 bg-black text-white block rounded-full self-start"
          >Create Account</a
        > -->
      </div>

      <!-- step 2 -->

      <div
        class="embla__slide max-md:flex-[0_0_90%] max-md:w-full text-start rounded-lg text-black flex justify-center flex-col gap-5 p-10"
      >
        <!-- Step heading -->
        <h1 class="text-lg text-black font-semibold">Choose your subscription</h1>
        <p>
          Our flexible subscription plans enable to build future proofed vendor /affiliate profiles with amazing benefits
        </p>
      </div>

      <!-- step 3 -->

      <div
        class="embla__slide max-md:flex-[0_0_90%] max-md:w-full text-start rounded-lg text-black flex justify-center flex-col gap-5 p-10"
      >
        <!-- Step heading -->
        <h1 class="text-lg text-black font-semibold">
          Set up your product page
        </h1>
        <p>
          Seamlessly upload your products for sale with their respective prices,
          Affiliates can join campaign from vendor verified products to earn commisions
        </p>
      </div>

      <!-- step 4 -->

      <div
        class="embla__slide max-md:flex-[0_0_90%] max-md:w-full text-start rounded-lg text-black flex justify-center flex-col gap-5 p-10"
      >
        <!-- Step heading -->
        <h1 class="text-lg text-black font-semibold">
          Enjoy Smooth Sales experience
        </h1>
        <p>
          Affiliates operate on your products to drive sales, traffic and close leads earning them commissions and increasing your market profile
        </p>
      </div>
    </div>
  </div>

  <!-- step controller -->
  <div
    class="*:h-3 *:w-3 *:rounded-full flex gap-5 *:cursor-pointer t mt-10 scrollList"
  >
    <span
      class="flex items-center justify-center bg-dark w-2 h-2"
      id="0"
    ></span>
    <span
      class="flex items-center justify-center bg-neutral-400 w-2 h-2"
      id="1"
    ></span>
    <span
      class="flex items-center justify-center bg-neutral-400 w-2 h-2"
      id="2"
    ></span>
    <span
      class="flex items-center justify-center bg-neutral-400 w-2 h-2"
      id="3"
    ></span>
  </div>

  <script src="{%static 'js/carousels/homeCarousel.js'%}"></script>
</section>
