{%load static%}
<section
  class="flex pt-20 lg:pt-36 text-stone-900 flex-col pb-10 gap-5 justify-center text-center max-md:text-sm items-center"
>
  <span
    class="rounded-full border border-neutral-200 bg-neutral-50 p-2 text-neutral-400 px-4"
    >Pro option for digital marketing</span
  >
  <h1
    class="text-7xl w-1/2 max-md:w-full max-md:text-5xl font-semibold relative"
  >
    <span class="">
      Connect your <span class="text-neutral-400">products</span> to the right
      <span class="text-neutral-400">audience</span>
    </span>
  </h1>
  <p class="w-1/2 max-md:w-full">
Empowering vendors and affiliates to connect, collaborate, and maximize profits seamlessly. Join our platform to unlock new growth opportunities and success
  </p>
  <!-- button group -->
  <div class="flex justify-center max-md:px-5 gap-5 w-full">
    <a
      href="{%url 'pricing'%}"
      class="bg-dark flex justify-center items-center gap-2 max-md:w-4/5 text-white p-5 lg:px-10 max-md:p-4 max-md:text-sm max-md:font-normal rounded-full"
      >Join our platform
      <i class="ri-arrow-right-up-line text-xl"></i>
    </a>
    <!-- <a
      href=""
      class="bg-accent flex justify-center items-center gap-2 max-md:w-4/5 text-stone-900 p-5 max-md:p-4 max-md:text-sm max-md:font-normal rounded-full"
    >
      <ion-icon name="storefront" class="text-xl"></ion-icon> Our Market
    </a> -->
  </div>

  <!-- star rating section -->
  <div class="mt-10 max-md:mt-10 flex flex-col items-center gap-2">
    <!-- star group -->
    <!-- <span class="text-xl text-main flex gap-3">
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
    </span> -->
    <!-- rating image -->
    <div
      class="[&>*]:-mr-2 [&>*]:h-[50px] [&>*]:w-[50px] max-md:[&>*]:h-[40px] max-md:[&>*]:w-[40px] [&>*]:object-cover flex [&>*]:rounded-full []"
    >
      <img
        src="https://images.pexels.com/photos/4672488/pexels-photo-4672488.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt=""
      />
      <img
        src="https://images.pexels.com/photos/3767360/pexels-photo-3767360.jpeg?auto=compress&cs=tinysrgb&w=600"
        class="bg-accent"
        alt=""
      />
      <img
        src="https://images.pexels.com/photos/3616937/pexels-photo-3616937.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt=""
      />
      <img src="{%static 'image/rating4.jpg'%}" alt="" />
      <img
        src="https://images.pexels.com/photos/3702587/pexels-photo-3702587.jpeg?auto=compress&cs=tinysrgb&w=600"
        alt=""
      />
    </div>
    <span class=" font-medium text-neutral-400">4k+ marketers and vendors</span>
  </div>
  <!-- image holder -->
  <div class="relative">
    <!-- blob -->
  </div>
</section>
