<section class="h-screen p-10 max-md:h-full">
  <h1 class="text-4xl max-md:text-2xl font-medium text-center max-md:w-full">
    Sell your products digitally
  </h1>

  <div class="grid grid-cols-3 max-md:grid-cols-1 mt-10 gap-10">
    <!-- grid item starts here -->
    <div class="shadow-gray-50 p-5 shadow-xl rounded-md">
      <span class="text-lg flex items-center mb-5 gap-2">
        <ion-icon
          name="book-outline"
          class="bg-neutral-100 p-3 text-2xl rounded-full"
        ></ion-icon>
        <span>E-Books</span></span
      >
      <p>
        Upload your eBooks, set prices, and let our affiliates promote them,
        driving traffic and sales with real-time performance analytics.
      </p>
    </div>
    <!-- grid item ends here -->

    <!-- grid item starts here -->
    <div class="shadow-gray-50 p-5 shadow-xl rounded-md">
      <span class="text-lg flex items-center mb-5 gap-2">
        <ion-icon
          name="laptop-outline"
          class="bg-neutral-100 p-3 text-2xl rounded-full"
        ></ion-icon>
        <span>Digital Products</span></span
      >
      <p>
        Upload your digital products, set prices, and let our affiliates promote
        them, driving traffic and sales with real-time analytics
      </p>
    </div>
    <!-- grid item ends here -->

    <!-- grid item starts here -->
    <div class="shadow-gray-50 p-5 shadow-xl rounded-md">
      <span class="text-lg flex items-center mb-5 gap-2">
        <ion-icon
          name="ticket-outline"
          class="bg-neutral-100 p-3 text-2xl rounded-full"
        ></ion-icon>
        <span>Event Invites and Tickets</span></span
      >
      <p>
        Upload your events and tickets, set prices, and let our affiliates
        promote them, driving traffic and sales with real-time analytics."
      </p>
    </div>
    <!-- grid item ends here -->

    <!-- grid item starts here -->
    <div class="shadow-gray-50 p-5 shadow-xl rounded-md">
      <span class="text-lg flex items-center mb-5 gap-2">
        <ion-icon
          name="cube-outline"
          class="bg-neutral-100 p-3 text-2xl rounded-full"
        ></ion-icon>
        <span>Physical Products</span></span
      >
      <p>
        Upload your physical products, set prices, and let our affiliates
        promote them, driving traffic and sales with real-time analytics.
      </p>
    </div>
    <!-- grid item ends here -->
  </div>
</section>
