{%extends 'bases/base.html'%} {%block content%}
<!-- <h1 class="mt-36">Verify Your Email</h1> -->
<section
  class="max-md:w-11/12 mt-36 text-sm max-md:mt-20 max-md:p-5 w-3/5 mx-auto p-10 flex flex-col items-center rounded-md"
>
  <h1 class="text-2xl font-semibold mb-10 text-center">Choose your account</h1>
  <p></p>
  <div class="flex max-sm:flex-col gap-5">
    <div
      class="p-5 border border-main affiliate cursor-pointer flex flex-col rounded-2xl"
      @click="chooseAccountType($el)"
    >
      <ion-icon
        name="checkmark-outline"
        class="text-white rounded-full border-2 border-main p-1 self-end text-2xl"
      ></ion-icon>
      <h1 class="text-lg font-semibold my-4 affiliate">
        Affiliate/Social Marketer
      </h1>
      <p>
        I want to earn money from the sales space platform by marketing as an
        affiliate for products added by the vendors.
      </p>
    </div>
    <div
      class="p-5 border border-main vendor cursor-pointer flex flex-col rounded-2xl"
      @click="chooseAccountType($el)"
    >
      <ion-icon
        name="checkmark-outline"
        class="text-white rounded-full border-2 border-main p-1 self-end text-2xl"
      ></ion-icon>
      <h1 class="text-lg font-semibold mb-4">Vendor</h1>
      <p>
        I want to make more sales for my business by uploading my products here
        and generating leads from potential customers.
      </p>
    </div>
  </div>
  <button
    @click="completeOnboarding()"
    class="text-white bg-main px-5 w-1/2 max-md:w-11/12 mt-20 py-5 rounded-full"
  >
    Complete Account
  </button>
</section>

{%endblock content%}
