{% extends "bases/base.html" %}

{% block content %}

<section class="text-sm h-full">
    {% include "components/homepage/header.html" %}
    {% include "components/homepage/integration.html" %}
    {% include "components/homepage/sellables.html" %}
    {% include "components/homepage/get-started.html" %}
     {% include "components/homepage/affiliate-programe.html" %}
     {% include "components/homepage/side-flyer.html" %}
     {% include "components/homepage/faq.html" %}
     {% include 'components/navigation/footer.html'%}
</section>

{% endblock content %}
