{%extends 'bases/base.html'%} {%block content%}
<!-- <h1 class="mt-36">Verify Your Email</h1> -->
<section
  class="max-md:w-11/12 mt-36 text-start max-md:mt-28 border text-sm border-neutral-300 max-md:p-5 w-3/5 mx-auto p-10 flex flex-col items-center max-md:items-start rounded-md"
>
  <div>
    <h1 class="text-2xl font-semibold">Create Subscription</h1>
    <span class="text-neutral-500 text-xs"
      >*Invalid payments attracts a permanent account ban</span
    >
  </div>

  <form
    action=""
    method="post"
    class="flex flex-col gap-3 mt-5 subform items-start w-full max-md:w-full text-xs"
    @submit="createSubscription"
  >
    {%csrf_token%}
    <p class="text-base font-medium">Select your account subscription plan</p>
    <div
      class="*:px-5 [&>*]:rounded-md grid grid-cols-3 max-sm:grid-cols-2 gap-4 *:border-dark"
    >
      <div
        class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700"
      >
        <input
          id="bordered-radio-1"
          type="radio"
          value="starter"
          name="bordered-radio"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
        />
        <label
          for="bordered-radio-1"
          class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >Starter ($500)/mo</label
        >
      </div>
      <div
        class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700"
      >
        <input
          checked
          id="bordered-radio-3"
          type="radio"
          value="pro"
          name="bordered-radio"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
        />
        <label
          for="bordered-radio-3"
          class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >Pro ($2500)/mo</label
        >
      </div>
      <div
        class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700"
      >
        <input
          checked
          id="bordered-radio-2"
          type="radio"
          value="superior"
          name="bordered-radio"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
        />
        <label
          for="bordered-radio-2"
          class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >Superior ($5000)/mo</label
        >
      </div>
    </div>
    <div>
      <p class="text-base font-medium text-start">Payment Detals</p>
      <span
      class="text-neutral-500"
        >*Make your payment to the address below or scan qr code and upload your
        payment proof</span
      >
    </div>
    <div class="flex flex-col w-full text-start">
      <img
        :src="`${location.origin}/static/image/payment.jpg`"
        class="w-28 h-28 object-contain mb-5"
        alt=""
      />
      <p class="font-medium">USDT</p>
      <input
        type="text"
        value="0x1e122C235448E1347d073c5Ea9f5D2F147BD0163"
        readonly
        class="max-md:w-full p-3 outline-none rounded-md border border-dark"
      />
      <button
        type="button"
        class="bg-neutral-600 p-2 mt-2 text-white w-fit cursor-pointer rounded-md copy"
      >
        Copy
      </button>
    </div>
    <label for="" class="text-base font-medium">Upload Payment Proof</label>
    <fieldset>
      <input
        type="file"
        name="image"
        inputmode="numeric"
        id=""
        class="p-3 focus:outline-0 rounded-md border border-neutral-700 w-full"
        maxlength="6"
        required
      />
    </fieldset>
    <button
      class="text-white bg-dark px-5 py-4 max-md:w-3/4 max-md:self-center rounded-full"
    >
      Subscribe
    </button>
  </form>

  <script>
    let copyBtn = document.querySelector(".copy");
    copyBtn.addEventListener("click", async () => {
      await navigator.clipboard.writeText(
        "0x1e122C235448E1347d073c5Ea9f5D2F147BD0163"
      );
      copyBtn.textContent = "Copied!";
      setTimeout(() => {
        copyBtn.textContent = "Copy";
      }, 2000);
    });
  </script>
</section>

{%endblock content%}
