{%extends 'bases/base.html'%} {%block content%}
<!-- <h1 class="mt-36">Verify Your Email</h1> -->
<section
  class="max-md:w-11/12 mt-36 max-md:mt-28 border text-sm border-neutral-300 max-md:p-5 w-3/5 mx-auto p-10 flex flex-col items-center text-center rounded-md"
>
  <h1 class="text-2xl mb-5 font-semibold">Enter OTP</h1>
  <p>We sent you an OTP verification pin on {{request.user.email}}</p>
  <form
    action=""
    method="post"
    class="flex flex-col gap-5 mt-10 otpForm w-1/2 max-md:w-full"
    @submit="verifyOtp"
  >
    {%csrf_token%}
    <input
      type="text"
      name="otp"
      inputmode="numeric"
      id=""
      class="p-3 text-xl focus:outline-0 rounded-md border border-neutral-700"
      maxlength="6"
      required
    />
    <button class="text-white bg-dark px-5 py-5 rounded-full">
      Verify Email
    </button>
  </form>
</section>

{%endblock content%}
