{%include 'components/navigation/mobile-nav.html'%}

<nav
  class="flex justify-between bg-gray-50 items-center fixed w-full px-10 font-normal text-sm max-md:px-5 z-[1] left-1/2 top-0 py-5 -translate-x-1/2 text-dark"
>
  <a
    href="{%url 'home'%}"
    class="flex flex-row-reverse text-white font-semibold items-center"
  >
    {%include 'components/logo/logo.html'%}
  </a>
  <!-- nav elements -->
  <ul class="flex gap-10 absolute left-1/2 max-md:hidden -translate-x-1/2">
    <a
      href="{%url 'home'%}"
      class="hover:text-main transition ease-in duration-100"
      >Home</a
    >
    <!-- <a href="" class="hover:text-main transition ease-in duration-100"
      >Products</a
    > -->
    <a
      href="{%url 'vendor'%}"
      class="hover:text-main transition ease-in duration-100"
      >Vendors</a
    >
    <a
      href="{%url 'affiliate'%}"
      class="hover:text-main transition ease-in duration-100"
      >Social Marketing</a
    >

    <a
      href="{%url 'pricing'%}"
      class="hover:text-main transition ease-in duration-100"
      >Pricing
    </a>
  </ul>
  <ul class="flex gap-10 items-center">
    <a
      href="mailto:admin.support@kettlewellpro.com"
      class="text-main flex items-center gap-2 max-md:hidden"
    >
      <ion-icon name="mail-unread" class="text-2xl"></ion-icon>
      Contact Us
    </a>
    <a
      href="{%url 'login'%}"
      class="bg-main text-white p-3 rounded-full px-6 flex items-center gap-2 max-md:hidden"
    >
      Login
    </a>
    <i
      x-transition
      x-transition.duration.500ms
      @click="showMobileNav=!showMobileNav"
      :class="!showMobileNav?'ri-menu-line':'ri-close-fill'"
      class="lg:hidden text-xl px-2 py-1 bg-gray-200 text-gray-500 rounded-md"
    ></i>

    <!-- <a href="{%url 'login'%}" class="bg-dark text-white p-3 px-5 rounded-full"
      >Log In</a
    > -->
  </ul>
</nav>
