<section
  class="bg-[rgb(0,0,0,.8)] w-screen fixed top-0 bottom-0 text-sm left-0 z-[1]"
  x-show="drawerOpen"
  x-cloak
>
  <!-- sidenav elems container -->
  <div
    class="bg-white z-[1] dark:bg-neutral-900 *:dark:text-gray-300 max-md:w-4/5 w-1/5 h-screen px-10 pt-5 relative"
    x-show="drawerOpen"
    x-transition:enter="transition duration-1000"
    x-transition:enter-start="transform -translate-x-full"
    x-transition:enter-end="transform translate-x-0"
    x-transition:leave="transition duration-500"
    x-transition:leave-start="transform"
    x-transition:leave-end="transform -translate-x-full"
  >
    <span
      @click="drawerOpen=!drawerOpen"
      class="text-right absolute right-3 cursor-pointer top-5 py-2 px-4 border border-dark rounded-full"
    >
      Close
    </span>
    <!-- profile card -->
    <!-- <div class="flex flex-col">
      <span class="flex gap-2 items-center text-xl font-semibold">
        <ion-icon name="person-circle" class="text-6xl text-main"></ion-icon>
        <span class="flex flex-col">
          Neon Koke
          <span class="text-gray-600 text-xs font-normal">Starter Plan</span>
        </span>
      </span>

      <button
        class="bg-accent text-dark rounded-full flex justify-center items-center gap-2 p-5 mt-4"
      >
        <ion-icon name="diamond" class="text-xl"></ion-icon>
        Upgrade to pro
      </button>
    </div> -->

    <!-- main nav element -->
    <div class="flex flex-col gap-3 mt-10">
      <span class="text-gray-400">Menu</span>
      <a href="{%url 'dashboard'%}">Overview</a>
      <a href="{%url 'user-products'%}" x-show="user.account_type=='vendor'"
        >My Products</a
      >
      <a
        href="{%url 'affiliate-promotions'%}"
        x-show="user.account_type=='affiliate'"
        >My Campaigns</a
      >
      <a href="{%url 'wallet'%}" x-show="user.account_type=='affiliate'"
        >Wallet/Payout</a
      >
      <a href="{%url 'courses'%}">Courses</a>
      <a
        href="{%url 'affiliate-market'%}"
        x-show="user.account_type=='affiliate'"
        >New Products</a
      >
    </div>
    <!-- settings -->
    <!-- <div class="flex flex-col gap-3 mt-10">
      <span class="text-gray-400">Settings</span>
      <a href="">My Account</a>
      <a href="">Subscription</a>
    
    </div> -->

    <!-- theme -->
    <!-- <div class="flex flex-col gap-3 mt-10">
      <span class="text-gray-400">Theme</span>
      <span
        class="flex text-xs text-lime-500 w-fit dark:text-lime-700 border-accent cursor-pointer toggle-theme items-center gap-2 rounded-full p-1 px-4 border"
      >
        <ion-icon
          name="sunny"
          class="text-xl p-1 rounded-full cursor-pointer toggle-theme"
        ></ion-icon>
        <p>Light Mode</p>
      </span>
    </div> -->

    <!-- logout -->
    <div class="mt-10 flex flex-col gap-2">
      <a href="">Need Support? </a>
      <a href="{%url 'logout'%}">Logout</a>
    </div>
  </div>
</section>
