{% extends "dbase.html" %} {%load static%} {% block content %}

<section class="bg-white text-neutral-900 max-md:pt-24">
  {{user|json_script:"user"}}
  <!--  -->
  {% include "components/sidenav.html" %}
  <!--  -->

  <div class="ml-[18%] max-md:ml-0 p-5">
    <div class="max-md:hidden">{% include "components/path.html" %}</div>
    {% comment %} Balance Board and Notfication Container {% endcomment %}
    <div class="my-10 flex gap-10 max-md:flex-col max-md:gap-5">
      {% comment %} Balance Board {% endcomment %}
      <div
        class="bg-gray-100 h-48 rounded-md p-5 w-1/2 max-md:w-full flex flex-col justify-between"
      >
        {% comment %} top section {% endcomment %}
        <div class="flex justify-between items-center">
          <div class="flex items-center gap-5 max-md:gap-3">
            <span
              class="w-[60px] h-[60px] flex justify-center items-center p-5 text-3xl bg-white rounded-full"
            >
              <ion-icon name="wallet-outline" class="text-3xl"></ion-icon>
            </span>
            <p>
              <span class="text-xs text-slate-500 flex gap-2 items-center"
                >Total Balance <span><i class="fa-regular fa-eye"></i></span
              ></span>
              <span class="text-2xl font-medium"
                >${{request.user.profile.dollar_balance|add:request.user.profile.profit}}.00</span
              >
            </p>
          </div>
          <p
            class="text-green-600 bg-green-300 p-2 rounded-md text-xs font-semibold"
          >
            Live
          </p>
        </div>

        {% comment %} bottom section {% endcomment %}
      </div>
      {% comment %} Notifications {% endcomment %}
      <div class="bg-gray-100 rounded-md h-full w-1/2 p-5 max-md:w-full">
        <span class="flex items-center gap-3"
          ><ion-icon name="notifications" class="text-xl text-main"></ion-icon
          >Recent Activites</span
        >
      </div>
    </div>
    {% comment %} assets {% endcomment %}
    <div>
      {% comment %} assets container {% endcomment %}
      <div
        class="grid grid-cols-4 max-md:grid-cols-2 text-sm gap-10 max-md:gap-5"
      >
        {% comment %} Headers Items {% endcomment %} {% for asset in assets %}
        {% comment %} asset items {% endcomment %}
        <div
          class="flex justify-between flex-col gap-5 text-center py-2 px-3 bg-gray-100 rounded-md items-center [&>*]:w-1/4 [&>*]:text-end"
        >
          <div class="flex items-center gap-3">
            <img src="{{asset.image}}" alt="" class="h-[40px] flex" />
            <h1>{{asset.symbol}}</h1>
          </div>
          {% with symbol=asset.symbol|lower %}
          <!--  -->
          {% if asset.symbol|lower in request.user.profile.serialize %}
          <!--  -->
          <p>{{request.user.profile.serialize | lookup:symbol}}</p>
          {% else %}
          <p>0.00</p>
          {% endif %}
          <!--  -->
          {% endwith %}
          <p class="font-semibold">${{asset.price | floatformat}}</p>
        </div>

        {% endfor %}
      </div>
    </div>
  </div>
  <script src="{% static 'js/fetch-data.js'%}"></script>
</section>

{% endblock content %}
